# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/farmevidence?retryWrites=true&w=majority

# Server
PORT=5000
NODE_ENV=development

# CORS — set to your frontend Vercel/Render URL in production
CLIENT_URL=http://localhost:5178

# JWT (for future auth)
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
